.popup {
  width: 90%;
  max-width: max-content;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--darker-green);
  color: var(--white);

  padding: 1.35rem 1.35rem;
  border-radius: 0.75rem;

  display: grid;
  gap: 0.75rem;
}

.popup__header {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.popup__icon {
  fill: var(--white);
  width: 1.05rem;
  aspect-ratio: 1;
}

.popup__message {
  font-size: 0.9rem;
  font-weight: 700;
}

.popup__body {
  display: block;
}

.popup__info {
  font-size: 0.85rem;
}
